* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.znav {
  /* height: 4.5rem; */
  width: 100vw;
  background-color: black;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.navBtn {
  padding: 0.5rem;
  display: flex;
  list-style-type: none;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  transition: ease-in-out 3ms;
  margin: 0.25rem;
}

.navBtnTxt {
  color: whitesmoke;
  text-decoration: none;
  margin: 0.5rem;
}

.navBtn:hover {
  background-color: rgb(177, 160, 255);
}

.appTitle {
  color: whitesmoke;
  font-size: 2.5rem;
  list-style-type: none;
  width: 50%;
}
